export( "$<-.data.frame",
"%!in%",
"%&%",
"%**%",
"%downto%",
"%except%",
"%grepling%",
"%in.range%",
"%is.a%",
"%is.an%",
"%is.not.a%",
"%is.not.an%",
"%matching%",
"%not.in%",
"%perling%",
"%such.that%",
"%SUCH.THAT%",
"%that.are.in%",
"%that.dont.match%",
"%that.match%",
"%upto%",
"%where%",
"%where.warn%",
"%without.name%",
"?",
"[[<-.data.frame",
"add.flatdoc.to",
"as.cat",
"assign.to.base",
"attach.mlazy",
"autoedit",
"build.pkg",
"build.pkg.binary",
"callees.of",
"callers.of",
"cd",
"cd.change.all.paths",
"cd.write.mvb.tasks",
"cdfind",
"cditerate",
"cdprompt",
"cdregexpr",
"cdtree",
"changed.funs",
"check.patch.versions",
"check.pkg",
"clip",
"cq",
"create.backups",
"create.wrappers.for.dll",
"cull.old.builds",
"current.source",
"demlazy",
"deparse.names.parsably",
"ditto.list",
"do.in.envir",
"do.on",
"doc2Rd",
"dochelp",
"docotest",
"dont.lock.me",
"dont.lockBindings",
"empty.data.frame",
"env.name.string",
"everyth",
"expanded.call",
"extract.named",
"fast.read.fwf",
"FF",
"find.docholder",
"find.documented",
"find.funs",
"find.lurking.envs",
"fix.order",
"fixr",
"fixtext",
"flatdoc",
"foodweb",
"FOR",
"from.here",
"full.path",
"generic.dll.loader",
"get.backup",
"hack",
"help",
"help2flatdoc",
"index",
"install.pkg",
"is.dir",
"isF",
"isT",
"ldyn.tester",
"ldyn.unload",
"legal.filename",
"library.dynam.reg",
"load.refdb",
"local.on.exit",
"local.return",
"localfuncs",
"lsall",
"lsize",
"maintain.packages",
"make.arguments.section",
"make.NAMESPACE",
"make.usage.section",
"masked",
"masking",
"massrep",
"max_pkg_ver",
"mcachees",
"mcut",
"mintcut",
"mkdir",
"mlazy",
"mlocal",
"most.recent",
"move",
"mtidy",
"multinsert",
"multirep",
"mvb.eval.parent",
"mvb.match.call",
"mvb.nargs",
"mvb.parent.frame",
"mvb.sys.call",
"mvb.sys.function",
"mvb.sys.nframe",
"mvb.sys.parent",
"my.all.equal",
"my.index",
"my.index.assign",
"my.index.exists",
"named",
"nscat",
"nscatn",
"option.or.default",
"patch.install",
"patch.installed",
"plot.cdtree",
"plot.foodweb",
"pos",
"pre.install",
"print",
"print.(",
"print.{",
"print.<-",
"print.call",
"print.cat",
"print.default",
"print.function",
"print.name",
"print.pagertemp",
"print.specialprint",
"put.in.session",
"rbdf",
"rbind",
"rbind.data.frame",
"read.bkind",
"readLines.mvb",
"readr",
"remove.from.package",
"returnList",
"rm.pkg",
"safe.rbind",
"Save",
"Save.pos",
"scatn",
"search.for.regexpr",
"search.task.trees",
"set.finalizer",
"set.presave.hook.mvb",
"set.rcmd.vars",
"setup.mcache",
"source.mvb",
"spkg",
"strip.missing",
"task.home",
"to.regexpr",
"unmaintain.package",
"unpackage",
"warn.and.subset",
"write.NAMESPACE",
"write.sourceable.function",
"yes.no")
import( utils)
import( tools)
import( stats)
import( graphics)
S3method( "$<-", "data.frame")
S3method( "[[<-", "data.frame")
S3method( "rbind", "data.frame")
S3method( "close", "selfdeleting.file")
S3method( "print", "(")
S3method( "print", "{")
S3method( "print", "<-")
S3method( "print", "browsertemp")
S3method( "print", "call")
S3method( "print", "cat")
S3method( "print", "cdtree")
S3method( "print", "default")
S3method( "print", "docattr")
S3method( "print", "function")
S3method( "print", "name")
S3method( "print", "nullprint")
S3method( "print", "pagertemp")
S3method( "print", "specialprint")
S3method( "print", "thing.with.source")
S3method( "plot", "cdtree")
S3method( "plot", "foodweb")
S3method( "as.env", "character")
S3method( "as.env", "default")

